@using WebStoreMVC.Infrastructure.Extensions

@{
    var cart = Context.Session.GetObject<List<WebStoreMVC.Models.Cart.CartItemModel>>("Cart") ?? [];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebStoreMVC</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/WebStoreMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    IT STEP College
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(WebStoreMVC.Constants.Roles.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" 
                                    asp-area="Admin" 
                                    asp-controller="Products" 
                                    asp-action="Index">
                                    Адмін Панель
                                </a>
                            </li>
                        }
                        <li class="nav-item">
                            <a asp-controller="Cart" asp-action="Index">
                                🛒 Кошик (@cart.Sum(x => x.Quantity))
                            </a>
                        </li>


                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item me-2">
                                <a class="btn btn-link"
                                   asp-controller="Account"
                                   asp-action="Profile">
                                    @User.Identity.Name
                                </a>
                            </li>
                            <li class="nav-item">
                                @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
                                {
                                    <button class="btn btn-outline-primary">Вихід</button>
                                }
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item me-2">
                                <a class="btn btn-outline-primary"
                                   asp-controller="Account"
                                   asp-action="Login">
                                    Вхід
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary"
                                   asp-controller="Account"
                                   asp-action="Register">
                                    Реєстрація
                                </a>
                            </li>
                        </ul>
                    }

                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - WebStoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
